* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 600px;
    background: url(../img/jumbo.png) no-repeat;
    background-size: cover;
    padding-top: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.row::after {
    width: 100%;
    content: "";
    display: table;
    clear: both;
    line-height: 50px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

button:active {
    font-size: small;
}

.big-button {
    font-size: 22px;
    margin: 0 10px 0 10px;
}

.colored-button {
    background-color: #89A2E6;
    color: #fff;
}

.img-left {
    padding-right: 100px;
}

.img-right {
    padding-left: 100px;
}

footer {
    background-color: #22272A;
}

.colored-title {
    color: #89A2E6;
}

.colored-text {
    color: #fff;
}

/* ----------------------- */

/* topbar */
nav ul {
    list-style: none;
    line-height: 50px;
}

nav ul li {
    display: inline-block;
}

nav a {
    padding: 0 20px 0 20px;
}

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: #ccc;
    font-weight: 900;
}

.col-logo {
    width: 15%;
}

.col-logo img {
    vertical-align: middle;
}

.col-menu {
    width: 70%;
    text-align: center;
    font-size: 18px;
}

.col-button {
    width: 15%;
    text-align: right;
}

/* contenuto header */
.jumbo-content {
    width: 63%;

    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    color: #fff;
}

.jumbo-title {
    font-size: 30px;
}

.jumbo-text {
    margin: 40px 0 25px 0;
    font-size: 20px;
    line-height: 30px;
}

.dark-button {
    background-color: #22272A;
    color: #fff;
}

/* parte principale */
.main-row {
    padding: 100px 0;
}

.main-img {
    width: 70%;
}

.main-img img {
    width: 100%;
}

.main-text {
    width: 30%;
    margin-top: 30px;
    color: #22272A;
}

.main-title {
    font-size: 35px;
    line-height: 60px;
    color: #22272A;
}

.main-p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 30px;
}

.wave {
    height: 95px;
    width: 2500px;
}

.rotate-img {
    transform: rotate(180deg);
}

.background-row {
    background-color:#ccc;
}

.center-row {
    padding: 100px 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.p-big {
    font-size: 35px;
    font-weight: 900;
}

.center-row p:last-child {
    color: #22272A;
}

/* footer */

.footer-row {
    width: 90%;
    margin: 0 auto;
    padding: 100px 100px 100px 200px;
}

.footer-title {
    height: 50px;
    line-height: 50px;
    color: #89A2E6;
}

.first-footer-col {
    width: 30%;
}

.footer-col {
    margin-top: 10px;
    width: 15%;
}

footer ul {
    list-style: none;
    line-height: 30px;
}

.language {
    margin: 20px 0;
    height: 20px;
}

.language img {
    height: 100%;
}

.icon {
    height: 50px;
}

.icon img {
    height: 100%;
}

#languages {
    border: none;
    background-color: #22272A;
    color: #fff;
    font-size: 15px;
}

.endbar {
    border-top: 2px solid rgb(107, 109, 255);
    padding-top: 20px;
    padding-bottom: 50px;
}